<div ng-controller="NotificationController" class="notifications-partial-container">
	<div class="notification" id="notif-popup-1">
		<p>
			There has been an acceleration in close proximity to the Insectarium by driver John Doe.<br/>
			<a href="#" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-asterisk"></i>  Event Details</a>
			<a href="#" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-user"></i>  Driver</a>
			<a href="#" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-screenshot"></i>  See on Map</a>
		</p>
		<a ng-click="closeNotification($event)" id="notification-close" class="btn btn-xs"><i class="glyphicon glyphicon-remove"></i></a>
	</div>
</div>