<p>
	There has been an acceleration in close proximity to the Insectarium by {{notif.data}}.<br/>
	<a href="dashboard/notifications" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-asterisk"></i>  Event Details</a>
	<a href="dashboard/drivers" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-user"></i>  Driver</a>
	<a href="dashboard/map" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-screenshot"></i>  See on Map</a>
</p>
<a class="notification-close" class="btn btn-xs"><i class="glyphicon glyphicon-remove"></i></a>