<div class="login" ng-controller="LoginControllers">

	<div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <div id="profile-img" class="profile-img-card" ></div>
            <p id="profile-name" class="profile-name-card"></p>
            
            <form class="form-signin" ng-hide="loggedIn">
                <span id="reauth-email" class="reauth-email"></span>
                
                <input type="email" id="inputEmail" class="form-control" ng-model="user.email" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" ng-model="user.password" placeholder="Password" required>
               
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                
                <button class="btn btn-lg btn-primary btn-block btn-signin has-spinner" type="submit" ng-click="attemptLogin()">Sign in <span class="spinner"><i class="icon-spin glyphicon glyphicon-refresh"></i></span></button>
                
	            <a href="#" class="forgot-password">
	                Forgot the password?
	            </a>
            
            </form><!-- /form -->
            
            <div class="loginSuccessful" ng-show="loggedIn">Logged in...</div>
            
        </div><!-- /card-container -->
    </div><!-- /container -->

</div>