<div ng-controller="DriversControllers" class="data-view drivers-data-view-container">
	<highchart id="drivers-chart" config="driverChartConfig"></highchart>
	
	
	<div class="drivers-panel">
	
		<h2>Drivers</h2>
	
		<div class="driver" ng-repeat="driver in driverProfiles">
		
			<div class="driver-plaque" id="{{driver.id}}" ng-click="driverClickHandler($event)">
				<div class="driver-plaque-avatar">
					<img src="assets/img/user.png" />
				</div>
				<div class="driver-plaque-details">
					<p class="driver-plaque-details-name">{{driver.name}}</p>
					<p class="driver-plaque-details-location-vehicle">{{driver.location}}</br>{{driver.vehicle}}</p>
				</div>
				<div class="driver-plaque-grade">
					<p class="driver-plaque-grade-imetric">I-METRIC<br/>GRADE</p>
					<p class="driver-plaque-grade-letter">{{driver.grade}}</p>
				</div>
			</div>
			<div class="driver-details">
				<div class="driver-details-block driver-details-block-1">
					<div class="driver-details-block-number">{{driver.accelerations}}</div>
					<p class="driver-details-block-title">Accelerations</p>
				</div>
				<div class="driver-details-block driver-details-block-2">
					<div class="driver-details-block-number">{{driver.decelerations}}</div>
					<p class="driver-details-block-title">Decelerations</p>
				</div>
				<div class="driver-details-block driver-details-block-3">
					<div class="driver-details-block-number">{{driver.stops}}</div>
					<p class="driver-details-block-title">Stops</p>
				</div>
				<div class="driver-details-block driver-details-block-4">
					<div class="driver-details-block-number">{{driver.steadys}}</div>
					<p class="driver-details-block-title">Steadys</p>
				</div>
				
				<div class="driver-swipe" id="{{driver.id}}-swipe" ng-swipe-up="driverSwipeUpHandler($event)">Swipe up to close</div>
			</div>
		</div>
	</div>
</div>